.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.intro1, .intro2, .intro3 {
    padding-left: 10px;
}

.intro1 {
    background-color: lightgray;
}
.intro2 {
    background-color: darkgray;
}
.intro3 {
    background-color: gray;
}